<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Tic-Tac-Toe Extended</title>
    <meta name="description" content="Extended version of Tic-Tac-Toe game on 9x9 board and additional rules">
    <meta name="viewport" content="width=device-width">
    <!-- No need - already used in bootstrap -->
    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boilerplate.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body ng-controller="PageCtrl" ng-init="init()">

    <div id="notification"></div>

    <div class="control-group" ng-controller="ControlsCtrl">
      <div class="controls">
        <button class="btn btn-success" type="submit" id="restart-btn" ng-click="restart()">
          Restart
        </button>
        <label>
          <input type="checkbox" ng-click="toggleOpponent()">
          Control 2nd player manually
        </label>
      </div>
    </div>

    <div id="TicTacToeCanvas">

    </div>

    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/kinetic.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/game_logic.js"></script>
    <script src="js/game_field.js"></script>
    <script src="js/client_utils.js"></script>
    <script src="js/client.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/ga.js"></script>
  </body>
</html>
